*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
}
br{
    padding: 0px;
    margin: 0px;
}

#wraper{
    width: 80%;
    margin: auto;
}

#navbar-div{
    width: 100%;
    min-height: 20px;
    margin-top: 5px;
    text-align: end;
    padding-right: 2%;
    line-height: 20px;
    margin-bottom: 5px;
    display: flex;
    justify-content: end;

}

#home{
    padding:10px;
    border-radius: 5px 0px 0px 5px;
    margin-left: 0px;
    margin-right: 0px;
    border-color: #73AD21;
    border-width: 2px 0px 2px 2px;
    border-style: solid;

}

#ourpackage{
    border: 2px #73AD21 solid;
    padding:10px;
    margin-right: 0px;
    margin-left:0px;

}
/* tes  */

#callus{
    border-color: #73AD21;
    border-width: 2px 2px 2px 0px;
    border-style: solid;
    padding:10px;
    border-radius: 0px 5px 5px 0px;
    margin-left: 0px;
    margin-right: 0px;

}

#header{
    width: 100%;
    min-height: 20px;
    text-align: center;
    font-size: 30px;
    margin: 40px 0px 5px 0px;
}

#subheader{
    padding: 10px;
    text-align: center;
    margin-bottom: 40px;

}

#main-div{
    margin-bottom: 30px;
}

.clearfix::after
    {
        content: "";
        display: block;
        clear: both;
    }

#body-area-div{
    background-color: rgba(231, 229, 229, 0.233);
    width: 55%;
    float: left;

}

#img-sayur{
    width: 500px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

}

#quote-div{
    text-align: center;
    font-style: italic;
    font-size: medium;
    margin-bottom: 20px;
}

/* coba tambahkan  */
#aside-div{
    background-color: rgba(211, 211, 211, 0.226);
    width: 40%;
    float: right;
}

h4{
    font-size: larger;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
}

h5{
    font-size:medium;
    padding-left: 5%;
    margin-bottom: 50px;
    padding-right: 5%;

}









#kaki{
    background-color: lightgrey;
    min-height: 60px;
    text-align: center;
    margin-bottom: 5px;
    line-height: 60px;
}
